@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inconsolata', 'Roboto', 'Times New Roman', Times, serif;
}

:root {
  font-size: 62.5%;
}

body {
  text-align: center;
  background: linear-gradient(to bottom, #555, #fff);
  min-height: 100vh;
  /* background-image: url(https://i.pinimg.com/originals/a1/86/a8/a186a8aff83506c70b0b307e3fb062c8.png);
  background-repeat: no-repeat;
  background-size: cover; */
}

main {
  display: inline-block;
  position: relative;
  margin: 1rem;
  padding: 1.5rem;
}

.pokedex {
  width: 100%;
  max-width: 550px;
}

.pokemon_image {
  position: absolute;
  left: 23%;
  bottom: 45%;
  height: 15%;
}

.pokemon_data {
 position: absolute;
 font-weight: 600;
 color: greenyellow;
 top: 41%;
 left: 61%; 
 font-size: clamp(0.8rem, 3vw, 2rem);
}

.pokemon_name {
  text-transform: capitalize;
}

.form {
  position: absolute;
  /* background-color: red; */
  width: 100%;
  top: 29.5%;
  right: 21%;
}

.input_search {
  width: 29%;
  outline: red;
  border-radius: 5px;
  border: 1.5px solid #333;
  font-weight: 500;
  font-size: clamp(0.5rem, 2.5vw, 1.5rem);
  box-shadow:-2px 2px 0 #888, -1px -1px #333;
}

.buttons {
  position: absolute;
  left: 16%;
  bottom: 14%;
  display: flex;
  /* transform: translate( -57%, 0); */
}

.button {
  width: 55%;
  padding: 8% 10%;
  border: 1px solid black;
  border-radius: 2px;
  font-size: clamp(0.5rem, 2.5vw, 1.5rem);
  font-weight: 600;
  background-color: #23c4ea;
  box-shadow:-2px 2px 0 #2596be;
}

.button:active {
  box-shadow: inset -2px 2px 0 #000;
  font-size: 1.40rem;
}

.type1 {
  position: absolute;
  padding-right: 2rem;
  font-size: clamp(0.5rem, 2.5vw, 1.5rem);
  left: 60%;
  bottom: 17%;
  background-color: aquamarine;
}